# VitePress core
docs/.vitepress/dist
docs/.vitepress/cache
.vitepress/cache
.vitepress/heme

# Залежності
node_modules/

# Локальні змінні оточення
.env
*.local

# Логи та системні файли
*.log
.DS_Store

.vscode/
.idea/